/*
 * -------------------------------------------------
 *  nf-core/qtlmap Nextflow tartu_hpc config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "$baseDir/singularity_img/"
}

executor {
    name = 'slurm'
    queueSize = 10
    submitRateLimit = 1
}

process {
  executor = 'slurm'
  queue = 'medium'
  module = 'singularity/3.7.1'
}


params {
  // ***************** NORMALISATION module related parameters *****************

  // Phenotype metadata pathes.
  array_pheno_meta_path = "/biodata/franco/datasets/rnaseq_complete_reference/phenotype_metadata/HumanHT-12_V4_Ensembl_96_phenotype_metadata.tsv.gz"
  ge_pheno_meta_path = "/biodata/franco/datasets/rnaseq_complete_reference/phenotype_metadata/gene_counts_Ensembl_105_phenotype_metadata.tsv.gz"
  tx_pheno_meta_path= "/biodata/franco/datasets/rnaseq_complete_reference/phenotype_metadata/transcript_usage_Ensembl_105_phenotype_metadata.tsv.gz"
  txrev_pheno_meta_path= "/biodata/franco/datasets/rnaseq_complete_reference/phenotype_metadata/txrevise_Ensembl_105_phenotype_metadata.tsv.gz"
  exon_pheno_meta_path= "/biodata/franco/datasets/rnaseq_complete_reference/phenotype_metadata/exon_counts_Ensembl_105_phenotype_metadata.tsv.gz"

  // leafcutter annotation
  // leafcutter_transcript_meta = "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/Homo_sapiens.GRCh38.105_biomart_download.txt.gz"
  // leafcutter_intron_annotation = "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/leafcutter_annotations/gencode_v39_all_introns.bed.gz"
  // ************************************************************************

   // ***************** POP_ASSIGN module related parameters *****************
  // Reference 1000Genome dataset VCF
  // ref_genome = "/biodata/franco/datasets/genomic_references/1000G/pop_assign/GRCh38_renamed_ids_no_multiallelic.vcf.gz"
  // // popassign ref_genome contains 77.629.992

  ref_genome = "/biodata/franco/datasets/1000G_high_coverage/latest/processed/1kGP_high_coverage.complete.allMAFs.renamed_ids.vcf.gz"
  // my annotated ref_genome contains 28.894.910 SNPs (MAF 0.001), of which 168254 are not annotated with RSIDs in dbSNP
  // without MAF filtering, it contains 61.599.150 SNPs (biallelic)


  // file with populations of reference VCF
  populations_file = "/biodata/franco/datasets/popassign_complete_reference/1000G_sample_metadata.tsv"

  // file with samples (americans) to remove (from reference VCF) for pca mapping
  ids_to_remove_file = "" //"/biodata/franco/datasets/genomic_references/1000G/pop_assign/amrs.txt"

  // Number of PCs
  num_pc = 3

  // flag if remove AMR samples before mapping
  exclude_population = false
  // ************************************************************************
}

